* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  color: $blueDianne;
  @extend %dmsans-500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.body--overflow {
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
blockquote {
  margin: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--small {
  max-width: 1200px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

input {
  outline: none;
  text-overflow: ellipsis;
}

.title {
  font-size: 36px;
  @extend %dmsans-700;
  color: $codGray;
  text-align: center;
  margin-bottom: 30px;

  @include _600 {
    font-size: 26px;
  }

  @include _432 {
    margin-bottom: 15px;
  }
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @include _432 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
  }
  &__option {
    &:not(:last-child) {
      margin-right: 30px;
      @include _600 {
        margin-right: 10px;
      }
      @include _432 {
        margin-bottom: 10px;
      }
    }
  }

  &__btn {
    color: $gray;
    @extend %dmsans-700;
    cursor: pointer;
    border: transparent;
    background-color: inherit;
    transition: color 0.2s ease;

    &:hover {
      color: $codGray;
    }

    &.mixitup-control-active {
      color: $codGray;
    }
  }
}

.rateyo {
  margin-bottom: 8px;
}
