* {
  box-sizing: border-box;
}

body {
  color: $blueDianne;
  @extend %dmsans-500;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}
