.insights {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    align-items: center;
  }

  &__link {
    color: $mineShaft;
    @extend %dmsans-700;
    line-height: 1;
    svg {
      margin-left: 15px;
    }
  }

  &__title {
    margin: 0;
  }

  &__inner {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__bottom {
    background-color: $provincialPink;
    padding: 260px 0 85px;
    margin-top: -170px;
    z-index: 1;
  }

  &__partners {
    display: flex;
    justify-content: space-around;
  }

  &__logo {
    display: flex;
    align-items: center;
  }
}
