.login {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  @extend %rubik-400;
  font-size: 14px;
  color: $blueBayoux;

  @include _600{
    padding: 50px 0;
  }

  &__form {
    max-width: 470px;
  }

  &__label {
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    height: 60px;
    border: 2px solid $wilSand;
    line-height: 1;
    padding: 0 15px;
    font-size: 30px;
    margin: 10px 0 36px;
    transition: border-color 0.2s ease;

    @include _600{
      height: 40px;
    }

    &:hover,
    &:focus {
      border-color: $casper;
    }
  }

  &__btn {
    width: 100%;
    border: transparent;
    height: 60px;
    background-color: $casper;
    font-size: 18px;
    @extend %rubik-500;
    color: $white;
    cursor: pointer;
    transition: color 0.2s ease;
    margin-bottom: 30px;
    @include line-clamp(1);

    @include _600{
      height: 40px;
    }

    &:hover {
      color: $blueDianne;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__border {
    border-bottom: 2px solid $wilSand;
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    margin-bottom: 40px;
    @include line-clamp(1);
    max-width: 470px;
  }

  &__link {
    display: block;
    text-align: center;
    padding: 20px;
    border: 2px solid $casper;
    @extend %rubik-500;
    font-size: 18px;
    color: $blueDianne;
    transition: background-color 0.2s ease;
    @include line-clamp(1);
    max-width: 470px;

    @include _600{
      height: 40px;
      padding: 10px;
    }

    &:hover {
      background-color: $casper;
    }
  }

  &__checkbox {
    cursor: pointer;
    @include line-clamp(1);
    max-width: 150px;
  }

  &__linklost {
    @include line-clamp(1);
    max-width: 150px;
  }
}
