.products {
  padding-top: 70px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 185px;
  }
}

.offers {
  display: flex;
  column-gap: 30px;

  &__item {
    display: flex;
    background-color: $halfSpanishWhite;
    position: relative;
    max-width: 870px;
    width: 100%;
    justify-content: center;
    padding: 80px 0;
  }

  &__img {
    max-width: 225px;
    width: 100%;
    position: absolute;
    left: 10px;
    bottom: 50px;
  }

  &__title {
    font-size: 26px;
    @extend %dmsans-700;
    line-height: 1.2;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__text {
    @extend %rubik-400;
    line-height: 1.9;
    margin-bottom: 55px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__content {
    max-width: 337px;
    margin-left: 120px;
  }

  &__link {
    border: 1px solid $edward;
    font-size: 15px;
    padding: 20px 85px 20px 20px;
    border-radius: 6px;
    position: relative;
    color: $blueBayoux;
    position: relative;

    svg {
      position: absolute;
      right: 20px;
      transform: translateY(50%);
    }
  }
}
