.products {
  padding-top: 70px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 185px;
  }
}

.offers {
  display: flex;
  column-gap: 30px;
}
