.products {
  padding-top: 70px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 185px;

    @include _1000 {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 15px;
      row-gap: 15px;
    }

    @include _700 {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 85px;
    }
    @include _432 {
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }
}

.offers {
  display: flex;
  column-gap: 30px;

  @include _1000 {
    display: block;
    column-gap: 0;
  }
}
