$blueDianne: #243f4d;
$blueBayoux: #436372;
$mystic: #edf1f4;
$lightApricol: #fcd7b6;
$oasis: #fde7d3;
$casper: #a3bbc8;
$boulder: #7d7d7d;
$portGore: #1f2044;
$provincialPink: #fef7f0;
$cello: #234969;
$tundora: #414141;
$scorpion: #585858;
$westra: #e8e4df;
$white: #ffffff;
$black: #000000;
$codGray: #191919;
$gray: #8b8b8b;
$halfSpanishWhite: #feefe2;
$edward: #b3b7b5;
$alabaster: #f8f8f8;
$mineShaft: #262626;
$alto: #e0e0e0;
$ebonyClay: #222933;
$mystic: #dae4e9;
$manatee: #979ba0;
$tundora: #4c4c4c;
$wilSand: #f6f6f6;
$nobel: #b3b3b3;
$concrete: #f2f2f2;
$mineShaft: #333333;
$jungleMind: #c2d2db;
$dustyGray: #9a9a9a;
$doveGray: #666666;
$gallery: #ebebeb;

%dmsans-400 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

@mixin line-clamp($count) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin _320 {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin _432 {
  @media (max-width: 432px) {
    @content;
  }
}

@mixin _500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin _600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin _700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin _900 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin _1000 {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin _1450 {
  @media (max-width: 1450px) {
    @content;
  }
}

@mixin _1800 {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin _hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}
