.blog {
  padding: 120px 0 60px 0;
  @include _900 {
    padding: 60px 0;
  }

  &__content {
    max-width: 830px;

    h5 {
      font-size: 18px;
      @extend %rubik-500;
      margin-bottom: 30px;
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      @extend %rubik-500;
      line-height: 1.8;
      margin-bottom: 30px;
    }

    blockquote {
      line-height: 1.8;
      background-color: $mystic;
      padding: 20px 20px 20px 35px;
      border-left: 7px solid $casper;
      margin-bottom: 40px;

      @include _700 {
        padding-left: 15px;
      }
    }

    cite {
      display: block;
      padding-left: 40px;
      position: relative;
      font-style: normal;

      &::before {
        height: 4px;
        width: 20px;
        position: absolute;
        background-color: $casper;
        bottom: 13px;
        left: 0;
        content: "";
      }
    }

    .left {
      max-height: 210px;
      max-width: 320px;
      margin: 0 30px 30px 0;
      overflow: hidden;
      float: left;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        transition: scale 0.2s ease;

        &:hover {
          scale: 1.2;
        }
      }
    }

    .test {
      display: flex;
      align-items: center;

      @include _700 {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__inner {
    display: flex;
    .aside {
      margin: 0 0 0 30px;
      @include _900 {
        margin: 0;
      }
    }
  }

  &__list {
    max-width: 830px;
    width: 100%;
    margin-right: 70px;
  }

  .pagination__list {
    justify-content: start;
  }

  &__item {
    max-width: 830px;
    margin-bottom: 50px;
  }

  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 25px 0;
    border-top: 2px solid $gallery;
    border-bottom: 2px solid $gallery;
    flex-wrap: wrap;

    @include _500 {
    }
  }

  &__images {
    margin-right: 30px;
    max-width: 70px;
    max-height: 70px;

    @include _500{
      margin-right: 10px;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__author {
    display: flex;
    @include _500 {
      margin-bottom: 15px;
    }
  }

  &__name {
    font-size: 18px;
    @extend %rubik-500;
    color: $mineShaft;
    padding-top: 15px;

    span {
      display: flex;
      font-size: 16px;
      @extend %rubik-400;
      color: $doveGray;
    }
  }

  &__tags {
    color: $mineShaft;
    @extend %rubik-400;
    margin-bottom: 15px;
    display: flex;
  }

  &__tag {
    padding-left: 15px;
    color: $doveGray;
    padding-left: 20px;
    transition: color 0.2s ease;
    &:not(:last-child) {
      position: relative;
      &::before {
        position: absolute;
        content: ",";
        right: -5px;
        color: inherit;
      }
    }

    &:hover {
      color: $casper;
    }
  }

  &__share {
    display: flex;
  }

  &__socials {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 100px;
    color: $doveGray;
  }

  &__icon {
    transition: color 0.2s ease;

    &:hover {
      color: $casper;
    }
  }
}

.search {
  margin-bottom: 60px;

  &__form {
    height: 43px;
    display: flex;
    position: relative;
  }

  &__label {
    width: 100%;
  }

  &__input {
    height: 100%;
    border: 1px solid $mystic;
    border-radius: 5px;
    width: 100%;
    padding: 10px 60px 10px 20px;

    &:focus {
      border-color: $casper;
    }
  }

  &__btn {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    border: none;
    background-color: $mystic;
    border-radius: 4px;
    margin-left: -10px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $casper;
      fill: $white;
    }
  }
}

.posts {
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.post {
  display: flex;
  justify-content: space-between;

  &__img {
    display: block;
    max-width: 70px;
    width: 100%;
    height: 70px;
    margin-right: 20px;
    overflow: hidden;

    img {
      object-fit: cover;
      transition: transform 0.2s ease;
      width: 100%;
      height: 100%;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  &__content {
    width: 100%;
  }

  &__title {
    font-size: 14px;
    color: $mineShaft;
    line-height: 1.4;
    margin-bottom: 10px;
    transition: text-decoration 0.2s ease;
    @include line-clamp(2);

    &:hover {
      text-decoration: underline;
    }
  }

  &__date {
    font-size: 12px;
    color: $dustyGray;
    line-height: 1;

    svg {
      transform: translateY(3px);
    }
  }
}

.comment {
  padding-bottom: 120px;

  @include _500 {
    padding-bottom: 60px;
  }

  &__inner {
    max-width: 830px;
  }

  &__title {
    font-size: 24px;
    @extend %rubik-700;
    color: $blueBayoux;
    margin-bottom: 55px;

    @include _500 {
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
  }

  &__img {
    width: 100px;
    height: 100px;
    margin-right: 30px;

    @include _432 {
      margin-right: 12px;
    }

    img {
      width: 100px;
      height: 100%;
      object-fit: cover;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    column-gap: 30px;

    @include _500 {
      column-gap: 15px;
      flex-direction: column;
      row-gap: 15px;
      margin-bottom: 15px;
    }
  }

  &__content {
    border-bottom: 1px solid $gallery;
  }

  &__name {
    @extend %rubik-700;
    color: $blueBayoux;
  }

  &__date {
    font-size: 14px;
    @extend %rubik-400;
    color: $doveGray;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__link {
    font-size: 14px;
    @extend %rubik-400;
    color: $blueBayoux;
    display: flex;
    align-items: center;
    color: $blueBayoux;
    width: 60px;
    justify-content: space-between;
    margin-bottom: 30px;
    transition: color 0.2s ease;

    @include _hover {
      color: $lightApricol;
    }
  }

  &__reply {
    display: flex;
    padding-left: 129px;

    @include _700 {
      padding-left: 20px;
    }
  }

  &__label {
    max-width: 400px;
    width: 100%;
    height: 100%;

    @include _500{
      max-width: 100%
    }
  }

  &__input,
  &__textarea {
    @extend %rubik-400;
    border: 1px solid $gallery;
    color: $mineShaft;
    padding: 20px;
    width: 100%;

    &::placeholder {
      color: $gallery;
    }

    &:focus {
      border-color: $casper;
    }
  }

  &__textarea {
    resize: none;
    height: 120px;
    margin-bottom: 40px;
    outline: none;
    max-width: 100%;
  }

  &__btn {
    background-color: $casper;
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    @extend %rubik-400;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $lightApricol;
    }
  }
}
