@import "vars";
@import "global";
@import "./components/header";
@import "slider";
@import "./components/product";
@import "products";
@import "./components/design";
@import "./components/insights";
@import "./components/footer";
@import "./components/breadcrumbs";
@import "info";
@import "login";
@import "about";
@import "shop";
@import "detalis";
@import "blog";
@import "contact";

