.breadcrumbs {
  background-color: $mystic;
  padding: 30px 0;

  &__title {
    text-align: center;
    font-size: 36px;
    color: $ebonyClay;
    @extend %rubik-400;
    margin-bottom: 15px;
    @include line-clamp(1);

    @include _432 {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    font-size: 14px;
    color: $manatee;
    @extend %rubik-400;
    position: relative;
    @include line-clamp(1);

    a:hover {
      text-decoration: underline;
    }
  }
  &__item:not(:last-child) {
    padding-right: 20px;
    &::before {
      position: absolute;
      content: "/";
      right: 7px;
      top: 0;
    }
  }
}
