.footer {
  @extend %rubik-400;
  color: $boulder;
  font-size: 14px;

  &__inner {
    display: flex;
    margin: 75px 0;
    justify-content: space-between;

    @include _1000{
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
    }

    @include _700{
      display: grid;
      grid-template-areas:
      "col1 col1"
      "col2 col3"
      "col4 col4";
      // grid-template-rows: 50px 1fr 30px;
      grid-template-columns: 50% 1fr;
    }
  }

  &__col {
    max-width: 300px;
    width: 100%;
    @include _700{
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    &:nth-child(1){
      grid-area: col1;
    
    }
    &:nth-child(2){
      grid-area: col2;
    }
    &:nth-child(3){
      grid-area: col3;
    }
    &:nth-child(4){
      grid-area: col4;
    }
    @include _700{
      max-width: 100%;
    }
  }

  &__logo {
    margin-bottom: 25px;
    display: block;
  }

  &__list {
    max-width: 200px;
    width: 100%;
    @include _700{
      max-width: 100%;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $portGore;
    font-size: 16px;
    @extend %dmsans-700;
    line-height: 1.3;
    margin-bottom: 25px;
  }

  &__item {
    max-width: 240px;
    @include line-clamp(2);
    @include _700{
      max-width: 100%;
    }

    &:not(:last-child){
      margin-bottom: 15px;
    }
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__form {
    display: flex;
    margin-top: 20px;
    @extend %dmsans-400;
    cursor: pointer;
  }

  &__input {
    padding: 0 15px;
    border: none;
    background-color: $provincialPink;
    width: 170px;
    color: $boulder;
    border: none;
    height: 38px;
    cursor: pointer;

    &:focus {
      border: 1px solid $casper;
    }

    &:hover {
      border: 1px solid $casper;
    }
  }

  &__input::placeholder {
    font-size: 12px;
    color: $cello;
  }

  &__btn {
    border: none;
    background-color: $casper;
    color: $white;
    width: 100px;
    cursor: pointer;

    &:hover {
      color: $casper;
      background-color: $white;
      border: 1px solid $casper;
    }
  }

  &__bottom {
    border-top: 1px solid $mystic;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    @include _700{
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
    }
  }

  &__list--divider {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    li {
      margin-bottom: 0;
    }

    .footer__item:not(:last-child) {
      border-right: 1px solid $boulder;
      padding-right: 15px;
      margin-right: 15px;
    }
  }
}
