.header {
  padding: 50px 0;
  color: $blueBayoux;
  @include _600 {
    padding: 30px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 36px;
    max-width: 320px;
    width: 100%;
  }

  &__menu {
    display: flex;
    justify-content: center;
    @include _1200 {
      display: none;
    }
  }

  &__link {
    @extend%rubik-500;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__list:not(:last-child) {
    margin-right: 30px;
  }

  &__options {
    display: flex;
  }

  &__link--plus::after {
    content: "+";
    font-size: 16px;
    margin-left: 3px;
  }
}

.header__icon {
  width: 50px;
  height: 50px;
  fill: $blueDianne;
  fill-rule: evenodd;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  text-align: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
  @include _600 {
    width: 40px;
    height: 40px;
  }

  span {
    position: absolute;
    top: 10px;
    left: 50px;
    height: 16px;
    background-color: $white;
    font-size: 10px;
    align-items: center;
    @extend %dmsans-400;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 3px 6px;
    @include _600 {
      left: 25px;
      top: 5px;
      font-size: 8px;
    }
  }

  &--search {
    background-color: $mystic;
    border-radius: 50%;
    margin-right: 20px;
    @include _600 {
      margin-right: 10px;
    }
    @include _432 {
      display: none;
    }

    &:hover {
      background-color: $casper;
    }
  }

  &--heart {
    background-color: $lightApricol;
    border-radius: 30px 0 0 30px;
    width: 90px;
    @include _600 {
      width: 45px;
    }
    @include _432 {
      display: none;
    }

    &:hover {
      background-color: $casper;
    }
  }

  &--cart {
    background-color: $lightApricol;
    border-radius: 0 30px 30px 0;
    width: 90px;
    position: relative;
    margin-right: 20px;
    @include _600 {
      width: 45px;
      margin-right: 10px;
    }
    @include _432 {
      display: none;
    }

    &:hover {
      background-color: $casper;
    }
  }

  &--cart::before {
    left: 0;
    position: absolute;
    height: 32px;
    width: 1px;
    background-color: $oasis;
    content: "";
  }

  &--burger {
    fill: $white;
    border-radius: 50%;
    background-color: $casper;

    &:hover {
      background-color: $lightApricol;
    }
  }
}
