.product {
  padding: 27px 10px 37px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  min-height: 380px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  position: relative;
  width: 100%;

  &__rateyo {
    display: none;
  }

  &.product--list {
    padding: 0;
    flex-direction: unset;
    box-shadow: unset;
    justify-content: unset;
    text-align: left;
    transition: box-shadow 0.2s ease;

    @include _600{
      flex-direction: column;
      justify-content: center;
    }
    &:hover {
      box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    }

    .product__img {
      height: 500px;
      max-width: 370px;
      border: 1px solid $concrete;
      margin-right: 60px;
      padding: 0 20px;
      img {
        max-height: 350px;

        @include _600{
          max-height: 250px;
        }
      }

      @include _700{
        height: 350px;
        max-width: 200px;
        margin-right: 20px;

      }

      @include _600{
        max-width: 300px;
        margin-right: 0;
        height: 280px;
      }

    }

    .product__content {
      display: none;
    }

    .product__rateyo {
      display: unset;
    }

    .product__name {
      font-size: 40px;
      text-align: left;

      @include _600{
        font-size: 30px;
      }
    }

    .product__subtitle {
      color: $mineShaft;
      font-size: 30px;
      margin-bottom: 35px;
      @include _600{
        font-size: 22px;
        margin-bottom: 10px;
      }
    }

    .product__box {
      text-align: left;
    }

    .product__text {
      display: unset;
      @include line-clamp(3);
      @include _600{
        line-height: 1.5;
        margin-bottom: 15px;
      }
    }

    .product__link {
      display: block;
      @include line-clamp(1);

      @include _600{
        margin: 0;
      }
    }
  }

  @include _600 {
    min-height: 350px;
  }

  &:hover {
    .product__content {
      opacity: 1;
    }
  }

  &__box {
    text-align: center;
  }

  &__text {
    display: none;
    max-width: 415px;
    margin-bottom: 30px;
    line-height: 2;
  }
  &__link {
    padding: 20px 50px;
    color: $white;
    background-color: $casper;
    border-radius: 6px;
    text-transform: uppercase;
    max-width: 208px;
    margin-top: 35px;
    @extend %rubik-400;
    display: none;
    cursor: pointer;
    transition: color 0.2s ease;
    &:hover {
      color: $white;
      background-color: $lightApricol;
    }
  }

  &__name {
    text-align: center;
    line-height: 1.5;
    @include line-clamp(2);
    &:hover {
      color: $casper;
    }
  }

  &__subtitle {
    display: block;
    line-height: 1;
    @extend %dmsans-700;
    color: $casper;
    @include line-clamp(1);
  }

  &__content {
    position: absolute;
    opacity: 0;
    display: flex;
    top: 35%;
    max-width: 165px;
    width: 100%;
    justify-content: space-between;
    transition: opacity 0.4s ease;
  }

  &__icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    color: $casper;
    border: transparent;
    transition: color 0.2s ease;
    cursor: pointer;
    &:hover {
      color: $white;
      background-color: $casper;
    }
  }

  &__img {
    height: 245px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  &__inner {
    max-width: 100%;
    max-height: 350px;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.article {
  min-height: 420px;
  width: 100%;
  border-radius: 6px;

  @include _1200 {
    max-width: 100%;
  }

  &__img {
    min-height: 250px;
    @include _1200 {
      width: 100%;
    }
  }

  &__label {
    color: $white;
    background-color: $casper;
    font-size: 14px;
    line-height: 1.4;
    max-width: 103px;
    text-align: center;
    padding: 7px 0;
    border-radius: 30px;
    width: 100%;
    text-transform: uppercase;
    @extend %dmsans-700;
    cursor: pointer;
    @include line-clamp(1);
    transform: translateY(-50%);
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
      color: $casper;
      background-color: $white;
    }
  }

  &__text {
    font-size: 18px;
    color: $mineShaft;
    margin-bottom: 12px;
    @include line-clamp(3);
    max-width: 285px;
    margin-right: 25px;
    @include _1200 {
      max-width: 100%;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    border-top: 1px solid $alto;
    padding-top: 20px;
    text-transform: uppercase;
    color: $ebonyClay;
    font-size: 12px;

    time {
      margin-right: 40px;
    }

    & a:hover {
      text-decoration: underline;
    }
  }

  &__content {
    padding: 0px 27px 27px 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    background-color: $white;

    @include _600{
      padding: 0 0 27px 0;
    }
  }
}

.assortment {
  overflow: hidden;
  position: relative;
  height: 245px;
  background-color: $wilSand;
  border-radius: 5px;

  &__box {
    padding: 40px 0 0 35px;
  }

  &__title {
    font-size: 20px;
    @extend %dmsans-700;
    line-height: 1.2;
    color: $codGray;
    max-width: 200px;
    margin-bottom: 10px;
    @include line-clamp(2);
  }

  &__subtitle {
    font-size: 16px;
    color: $casper;
  }

  &__img {
    max-width: 420px;
    left: 100px;
    bottom: 35px;
    position: absolute;
    display: flex;
    min-width: 325px;
    justify-content: center;

    @include _700 {
      right: 50px;
      left: unset;
    }

    @include _600 {
      left: 100px;
      right: unset;
    }
  }
}

.offer {
  display: flex;
  background-color: $halfSpanishWhite;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 80px 0;
  @include _432 {
    padding: 50px 0;
  }
  &:not(:last-child) {
    @include _1000 {
      margin-bottom: 30px;
    }
  }

  &__img {
    max-width: 225px;
    width: 100%;
    position: absolute;
    left: 10px;
    bottom: 50px;

    @include _1200 {
      max-width: 165px;
    }
    @include _1000 {
      left: 65px;
    }
    @include _700 {
      left: 10px;
      bottom: 40px;
      max-width: 130px;
    }
    @include _432 {
      max-width: 100px;
    }
  }

  &__title {
    font-size: 26px;
    @extend %dmsans-700;
    line-height: 1.2;
    margin-bottom: 12px;
    @include line-clamp(2);
    @include _700 {
      font-size: 22px;
    }
  }

  &__text {
    @extend %rubik-400;
    line-height: 1.9;
    margin-bottom: 55px;
    @include line-clamp(2);
    @include _700 {
      line-height: 1.2;
      margin-bottom: 25px;
    }
  }

  &__content {
    max-width: 337px;
    margin-left: 120px;

    @include _1450 {
      padding-left: 100px;
    }

    @include _1000 {
      padding-left: 0;
    }
    @include _600 {
      padding-left: 50px;
    }
    @include _432 {
      padding-left: 0;
    }
  }

  &__link {
    border: 1px solid $edward;
    font-size: 15px;
    padding: 20px 85px 20px 20px;
    border-radius: 6px;
    position: relative;
    color: $blueBayoux;
    position: relative;
    transition: 0.2s ease;
    @include _700 {
      padding: 9px 49px 9px 11px;
      font-size: 14px;
    }

    svg {
      position: absolute;
      right: 20px;
      transform: translateY(50%);
    }

    &:hover {
      background-color: $casper;
    }
  }
}


.interior{
  &__img{
    display: block;
    max-width: 830px;
    height: 500px;
    height: 100%;
    margin-bottom: 40px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s ease;
    }
    &:hover img {
      transform: scale(1.1);
    }

    @include _500{
      margin-bottom: 20px;
    }
  }

  &__box{
    position: absolute;
    transform: translateY(-114px);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    max-width: 275px;
    width: 100%;
    padding: 30px;
    background-color: $casper;
    color: $white;
    font-size: 12px;
    @extend %rubik-400;

    @include _500{
      padding: 15px;
      transform: translateY(-64px);
      border-bottom-left-radius: 15px;
      max-width: 215px;
    }
  }

  &__title{
    margin-bottom: 30px;
    font-size: 36px;
    @extend %rubik-400;
    color: $mineShaft;
    transition: text-decoration 0.2s ease;
    @include line-clamp(2);
    &:hover{
      text-decoration: underline;
    }

    @include _600{
      font-size: 26px;
    }
  }

  &__text{
    line-height: 1.5;
    margin-bottom: 30px;
    @include line-clamp(10);
    @include _600{
      margin-bottom: 15px;
    }
  }

  &__link{
    padding: 20px;
    border: 1px solid $casper;
    max-width: 180px;
    width: 100%;
    position: relative;
    color: $casper;
    display: block;
    transition: all 0.2s ease;
    fill: $casper;
    display: flex;
    justify-content: space-between;

    &:hover{
      background-color: $casper;
      color: $white;
      fill: $white;
    }

    @include _500{
      max-width: 165px;
      padding: 12px;
    }
  }
}