<article class="article">
    <a href="#">
      <img
        class="article__img"
        src="@@src"
        alt="sofa taibel"
      />
    </a>
    <div class="article__content">
      <a class="article__label">news</a>
      <h3 class="article__text">
        <a class="article__link" href="#">
            @@text
  
      </h3>
      <div class="article__footer">
        <time datetime="2020-01-28 12:00">28 january, 2020</time>
        <span><a href="#">by admin</a></span>
      </div>
    </div>
  </article>