<section class="insights insights__bottom--small">
  <div class="container container--small">
    <div class="insights__bottom">
      <div class="container container--small">
        <ul class="insights__partners">
          <li class="insights__logo">
            <img
              class="insights__img"
              src="images/inights/partners-1.png"
              alt="restoran stephanie"
            />
          </li>
          <li class="insights__logo">
            <img
              class="insights__img"
              src="images/inights/partners-2.png"
              alt="kmn consulting"
            />
          </li>
          <li class="insights__logo">
            <img
              class="insights__img"
              src="images/inights/partners-3.png"
              alt="chainforse"
            />
          </li>
          <li class="insights__logo">
            <img
              class="insights__img"
              src="images/inights/partners-4.png"
              alt="moon next"
            />
          </li>
          <li class="insights__logo">
            <img
              class="insights__img"
              src="images/inights/partners-5.png"
              alt="vintage"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
