<article class="interior">
    <div class="interior__img">
      <img src="@@img" alt="black living room" />
    </div>
    <div class="interior__box">
      <div class="interior__date">28 JANUARY, 2020</div>
      <div class="interior__user">by admin</div>
    </div>
    <h4 class="interior__title">@@title</h4>
    <div class="interior__text">
      <p>
        consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut alLorem
        ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna
      </p>
    </div>
    <a class="interior__link" href="#">View More</a>
  </article>